# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
# roadhog-api-doc ignore
/src/utils/request-temp.js

# production
/dist

# misc
.DS_Store
npm-debug.log*
