# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
# roadhog-api-doc ignore
/src/utils/request-temp.js
_roadhog-api-doc

# production
/dist

# misc
.DS_Store
npm-debug.log*
yarn-error.log

/coverage
.idea
yarn.lock
package-lock.json
*bak
jsconfig.json
.prettierrc
