### MacOS ###
.DS_Store

### IDE ###
.idea/
.vscode/

### Development Build folders ###
public/
node_modules/
.tmp/

### Debug Source maps ###
# react/jsx
.srcmap/
# Stylus
*.styl.css

### Configuration ###
config/*.env.js

### Logs ###
*.log

### Personal ###
*.prsnl


### Tests ###
**/*.test.js.snap

### Module Builds ###
dist/
src/js/modules/*/dist

.npmrc
*.lock
.npmbox.cache
package-lock.json