@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';
::-webkit-scrollbar-track-piece {
  //滚动条凹槽的颜色，还可以设置边框属性
  background-color: #f8f8f8;
}

::-webkit-scrollbar {
  //滚动条的宽度
  width: 5px;
}

::-webkit-scrollbar-thumb {
  //滚动条的设置
  background-color: #ddd;
  background-clip: padding-box;
  min-height: 28px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

.inviteLink {
  word-wrap: break-word;
  max-width: 480px;
}

.content {
  //position: fixed;
  // width:100%;
  //top: 100px;
  //bottom: 20px;
  //left: 0;
  //right: 0;
}

.cardRow {
  height: 100%;
}

.listCol {
  padding-right: 10px;
  height: 100%;
}

.listCard {
  position: relative;
  height: 100%;
  padding: 0 5px;
}

.ListItem {
  padding-left: 20px;
}

.ListItem:hover {
  background-color: #f0f2f5;
  cursor: pointer;
}

.listCard p {
  position: absolute;
  top: 24px;
  left: 24px;
}

.mune {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  .title {
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    padding-left: 20px;
    color: gray;
  }
}

.membersList {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  padding: 0;
  color: @text-color-secondary;
  border: none;
}

.cardCol {
  height: 100%;
}

.listIcon {
  margin: 3px 5px;
}

.activeCard {
  height: 100%;
  overflow-y: auto;
}

.activitiesList {
  padding: 0 0 8px 0;
  .username {
    color: @text-color;
  }
  .event {
    font-weight: normal;
  }
  .avatarPic {
    width: 46px;
    height: 46px;
  }
}

.membertype {
  color: @disabled-color;
}

.stateIcon,
.dropIcon {
  float: right;
  :hover {
    color: #1890ff;
  }
}

.nodeCard:hover {
  background-color: #f0f2f5;
  cursor: pointer;
  .dropIcon {
    display: block;
  }
}

.nodeCard {
  line-height: 20px;
  padding: 10px 0 10px 15px;
}

.nodeCardClick {
  line-height: 20px;
  padding: 10px 0 10px 15px;
  background-color: #f0f2f5;
}
.secIcon {
  float: left;
  font-size: 16px;
  margin: 2px 5px 2px 0;
  color: @normal-color;
}

.stateIcon {
  font-size: 16px;
  margin: 2px 15px 2px 5px;
}

.dropIcon {
  display: none;
  font-size: 20px;
  margin: 0 15px 0 5px;
  color: #000;
}

.menuIcon {
  font-size: 14px;
  margin-right: 8px;
}
@media screen and (max-width: @screen-xl) and (min-width: @screen-lg) {
  .activeCard {
    max-width: 800;
    margin-bottom: 24px;
  }
}

@media screen and (max-width: @screen-lg) {
  .activeCard {
    max-width: 800;
    margin-bottom: 24px;
  }
}

// @media screen and (max-width: @screen-md) {
// }
// @media screen and (max-width: @screen-sm) {
// }
// @media screen and (max-width: @screen-xs) {
// }
