@import "~antd/lib/style/themes/default.less";

.main {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  .leftMeun {
    width: 224px;
    border-right: 1px solid #e8e8e8;
    :global {
      .ant-menu-inline {
        border: none;
      }
    }
  }
  .right {
    flex: 1;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 9px;
    padding-bottom: 9px;
    .title {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.85);
      line-height: 28px;
      width: 100px;
      height: 28px;
      font-weight: bold;
      margin-bottom: 24px;
    }
  }
}
