@import "~antd/lib/style/themes/default.less";

.tabsCard {
  margin-bottom: 24px;
}

.noData {
  color: @disabled-color;
  text-align: center;
  line-height: 64px;
}

.heading {
  color: @heading-color;
  font-size: 20px;
}

.textSecondary {
  color: @text-color-secondary;
}

.divider {
  border: 0;
  border-top: 1px solid @border-color-split;
  height: 1px;
  margin: 0 0 16px 0;
}
