@import "~antd/lib/style/themes/default.less";
@import "../../utils/utils.less";

.tableList {
  padding-bottom: 8px;
  .tableListOperator {
    margin-bottom: 16px;
    button {
      margin-right: 8px;
    }
  }
}

.tableListForm :global(.ant-form-item) {
  margin-right: 48px;
  margin-bottom: 8px;
}

.formButton {
  white-space: nowrap;
}

@media screen and (max-width: @screen-lg) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 24px;
  }
}

@media screen and (max-width: @screen-md) {
  .tableListForm :global(.ant-form-item) {
    margin-right: 8px;
  }
}
