version: 2
jobs:
  build:
    docker:
      - image: circleci/node:latest
    steps:
      - checkout
      - run: npm install
      - run: npm run build
  test:
    docker:
      - image: circleci/node:latest-browsers
    steps:
      - checkout
      - run: npm install
      - run: 
          command : npm run test:all
          no_output_timeout : 30m
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test