@import "~antd/lib/style/themes/default.less";
@import "../../utils/utils.less";

.mapChart {
  padding-top: 46px;
  height: 436px;
}

@media screen and (max-width: @screen-lg) {
  .mapChart {
    height: auto;
  }
}
