.registerResult {
  width: 800px;
  min-height: 400px;
  margin: auto;
  padding: 80px;
  background: none;
  :global {
    .anticon {
      font-size: 64px;
    }
  }
  .title {
    margin-top: 32px;
    font-size: 20px;
    line-height: 28px;
  }
  .actions {
    margin-top: 40px;
    a + a {
      margin-left: 8px;
    }
  }
}
