html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

ul,
ol {
  list-style: none;
}

body .ant-drawer .ant-drawer-content {
  opacity: 1;
}
body .anticon svg {
  display: block;
}

// wait remove
.new-version-info-modal {
  img {
    width: 100px;
    position: absolute;
    left: 34px;
    top: 36px;
  }
  p {
    margin-top: 1em;
  }
  .anticon {
    display: none;
  }
  .ant-confirm-body {
    .ant-confirm-title {
      font-size: 18px;
    }
    margin-left: 120px;
    .ant-confirm-content {
      margin-left: 0;
    }
  }
}
