@import '~antd/lib/style/themes/default.less';
::-webkit-scrollbar-track-piece {
  //滚动条凹槽的颜色，还可以设置边框属性
  background-color: #f8f8f8;
}
::-webkit-scrollbar {
  //滚动条的宽度
  width: 5px;
}

::-webkit-scrollbar-thumb {
  //滚动条的设置
  background-color: #ddd;
  background-clip: padding-box;
  min-height: 28px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
  width: 5px;
}

.kanban {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  overflow-x: auto;
}

.listContainer {
  padding: 8px;
  height: 100%;
  width: max-content;
  overflow-x: auto;
}

.listGroup {
  position: relative;
  display: block;
  width: 280px;
  height: 100%;
  padding: 8px 0;
  margin: 0 10px;
  float: left;
}
.cardList {
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}
.add {
  line-height: 30px;
  font-size: 16px;
  cursor: pointer;
  span {
    display: inline-block;
    text-indent: 5px;
  }
}
.endTime {
  margin-left: 25px;
  span {
    display: inline-block;
    padding: 0 5px;
    line-height: 20px;
    color: #fff;
    border-radius: 5px;
    font-style: normal;
    font-size: 12px;
    font-weight: bold;
    cursor: default;
    i {
      font-style: normal;
    }
  }
  .overdue {
    background-color: @error-color;
  }
  .rich {
    background-color: @success-color;
  }
}
